/dist/
/tests/examples/LetExpr.hs.exactprinter.out
/tests/examples/LetStmt.hs.exactprinter.out
/tests/examples/PatBind.hs.exactprinter.out
/tests/examples/Simple.hs.exactprinter.out
/tests/examples/Tuple.hs.exactprinter.out
/TAGS
/tags
/tests/examples/LetExprSemi.hs.exactprinter.out
/tests/examples/Sigs.hs.exactprinter.out
/tests/examples/ExprPragmas.hs.exactprinter.out
/tests/examples/LetExpr.hs.1
